.hero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 45px;
}

.hero__left {
 grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__right {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #EDEDED;
    border-radius: 55px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.action {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 35px;
    height: 120px;
}

.action:first-child {

    background: #FF6D6D;
}

.action:last-child {
    background: #56595F;
}

.action__text {
    line-height: 100%;
    align-self: flex-end;
    max-width: 105px;
    font-family: Inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 21.08px;
    letter-spacing: 0;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .hero__left {
        grid-column: span 8;

    }

    .hero__right {
        grid-column: span 8;

    }
}