.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.tab {
    position: relative;
    color: #56595F66;
    font-weight: var(--font-weight-bold);
    padding-bottom: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.tab:hover, .tab.active {
    color: #56595F;
    border-bottom: 3px solid #4F5B53
}
