.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 50px;
}

.rightColumn {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .rightColumn {
        padding: 0 15px;
    }
}
