@font-face {
    font-family: "Tilda Sans";
    src: url("/assets/fonts/tilda_sans/PT/PT/Tilda-Sans.ottt/tilda-sans_vf.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
