.footer {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 60px;
    overflow: hidden;
}

.footer__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}



.email {
    font-weight: var(--font-weight-regular);
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    color: #62675D;
}

.footer__telephone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px 35px;
    border: 1px solid #E1D5AD;
    border-radius: 55px;
}

.footer__bottom_text_wrapper {
    max-width: 220px;

    font-weight: var(--font-weight-light);
    font-size: 23.84px;
    line-height: 23.84px;
    color: #56595F;
}

.tel {
    font-weight: var(--font-weight-light);
    font-style: Light;
    font-size: 49.6px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    color: #1A2521;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.footer__bottom_text {
    color: #62675D;
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    opacity: 0.5;

    padding-bottom: 10px;
}

.footer__bg_image {
    margin-top: 20px;
    width: 100vw;
    max-width: 100dvw;
    padding: 0;
    margin: 20px 0 0 0;
    height: 100px;
    background-image: url("/assets/img/footer__background.png");
}

@media (max-width: 768px) {
    .footer__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer__bottom_text_wrapper {
        font-size: 12px;
        max-width: 105px;
        line-height: 100%;
    }

    .tel {
        font-size: 18px;
    }

    .footer__bg_image {
        height: 60px;
    }
}