.request {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 25px 30px;
}

.request__header_text {
    color: #56595F;
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    leading-trim: NONE;
    line-height: 25.5px;
    letter-spacing: 0;
    vertical-align: middle;
}

.request__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.request__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 15px;
    background: #6BA9EF;

    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    letter-spacing: 0;
    vertical-align: middle;

}

.request__manager {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.request__manager_role, .request__manager_name, .request__date {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #56595F99;
}

.request__date {
    margin-left: auto;
    color: #56595F66;
}

.request__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.request__footer_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.request__footer_text {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    vertical-align: middle;
    color: #56595F99;
}

.request__footer_text_wrapper {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 992px) {
    .request__header_text {
        font-size: 12px;
    }
    .request__status {
        font-size: 10px;
    }
    .request__manager_role, .request__manager_name, .request__date {
        font-size: 9px;
    }
}