.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #56595F;
}

.message__name {
    color: #56595F80;
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .message__name {
        display: none;
    }
}