.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 25px 0;
    border-bottom: 1px solid #DEE2E6;
}

.date__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.date__label {
    color: #56595F99;
    font-weight: var(--font-weight-medium);
    font-size: 13.8px;
    line-height: 16.8px;
    letter-spacing: 0;
    vertical-align: middle;
}

.date__name {
    color: #56595F;
    font-weight: var(--font-weight-bold);
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    vertical-align: middle;
}