.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 25px 30px 25px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #DEE2E6
}

.header__title {
    font-weight: var(--font-weight-regular);
    font-size: 32px;
    line-height: 38.4px;
    vertical-align: middle;
    color: #56595F;
}

.header__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1200px) {
    .header__controls {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 15px 15px 15px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #DEE2E6
    }
}