.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.controls__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #56595F;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 12px 30px;
    cursor: pointer;

    color: #fff;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;

    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.controls__btn:hover {
    color: #56595F;
    background: white;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}