.detail {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.detail__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 75px;
}

.detail__header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.plates {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.info__title {
    color: #56595F;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
}

.date__text {
    color: #56595F66;
    font-weight: var(--font-weight-medium);
    font-size: 13px;
    letter-spacing: 0;
    vertical-align: middle;
}

.detail__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border-top: 1px solid #DEE2E6;
    padding-top:25px;
}

@media (max-width: 1200px) {
    .detail__body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .detail__header {
        gap: 10px;
    }
    .info__title {
        font-size: 13px;
        line-height: 1.5;
    }
}
